<h2>User List</h2>
<a href="/login">Login</a>
<a href="/signup">Add New Entry</a>
<ul>
  <% db.forEach(entry=> { %>
    <li>
      <%= entry.first_name %> - <%= entry.last_name %> - <%= entry.username %>
      <form action="/<%= entry.id %>/delete" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
      </form>
    </li>
    <% }) %>
</ul>