<form action="/db/create" method="POST">
  <label>Title: <input type="text" name="title" required></label><br>
  <label>Description: <input type="text" name="description" required></label><br>
  <label>Release Date: <input type="date" name="release_date" required></label><br>
  <label>Price (in USD): <input type="number" name="price" step=".01" required></label><br>
  <button type="submit">Add Entry</button>
</form>