<a href="/db/createUser">Add New Entry</a>
<ul>
  <% db.forEach(entry=> { %>
    <li>
      <%= entry.first_name %> - <%= entry.last_name %> - <%= entry.username %>
      <form action="/db/<%= entry.id %>/delete" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
      </form>
    </li>
    <% }) %>
</ul>